<h3>Create</h3>
<form
  class="post-form"
  #postForm="ngForm"
  (ngSubmit)="onAddPost(postForm)"
>
  <label for="title">Title</label>
  <input
    id="title"
    type="text"
    pInputText
    ngModel
    name="title"
    required
    minlength="5"
  />
  <label for="content">Content</label>
  <textarea
    id="content"
    rows="5"
    cols="30"
    pInputTextarea
    ngModel
    name="content"
    required
    minlength="10"
  ></textarea>

  <p-button
    label="Submit"
    type="submit"
  ></p-button>
</form>
